.boardbutton {
    margin-left: 1%;
    margin-top: 1%;
    background: blue;
    width: 24%;
    min-height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    float: left;
}

.boardbutton:hover {
    background-color: cornflowerblue;
}