.container {
    background-color: grey;
    width: 24%;
    border-radius: 3px;
    padding: 0.5%;
    display: table;
    box-sizing: border-box;
    float: left;
    margin-left: 1%;
}

.buttondiv {
    display: table-row;
}

.formdiv {
    display: table-row;
}