.container {
    background-color: grey;
    width: 160px;
    border-radius: 3px;
    padding: 0.5%;
    display: table;
    box-sizing: border-box;
    float: left;
    margin-left: calc(5%/6);
    margin-top: 1%;
}

.buttondiv {
    display: table-row;
}

.formdiv {
    display: table-row;
}