div .listcontainer {
    background-color: #C8C8C8;
    width: 250px;
    border-radius: 3px;
    padding: 10px;
    color: #000;
    font-weight: bold;
    /* display: table; */
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.createcard button {
    width: 100%;
    background-color: unset;
    border: none; 
}

.btn-light:hover {
    text-decoration: underline;
    background-color: unset;
    border: none; 
}

ul {
    padding: 0;
}